.header {
  text-align: center;
  border-bottom: 1px solid gray;
  margin-top: 25px;
  padding-bottom: 25px;
}

.header .title {
  font-family: $title-font;
  margin-bottom: 10px;
}

.header .tagline {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.footer {
  text-align: center;
  border-top: 1px solid gray;
  padding: 15px 0;
}

.footer .signature {
  font-family: $signature-font;
}

.calendar-header {
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.calendar-item {
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
  display: none;
}

.calendar-item.active-slide {
  display: block;
}

.calendar-item.active-slide {
  display: block;
}

.calendar-item.active-slide.slide-left {
  animation-duration: 1s;
  animation-name: slideLeft;
}

.calendar-item.active-slide.slide-right {
  animation-duration: 1s;
  animation-name: slideRight;
}

@keyframes slideLeft {
  0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}
